<div class="container-fluid  full-page">

  <div class="row centered">
    <div class="col-6  align-self-center">
      <h2>Aladin-Bot is at your service</h2>
      <span>You an talk any language you want!</span>
      <br/>
      <span>I can understand:</span>
      <ul>
        <li>French</li>
        <li>English</li>
        <li>Arabic</li>
      </ul>
    </div>
    <div class="col-6 image-holder text-center">
      <img src="./assets/images/logo.png" alt="">
    </div>
  </div>
  <div>
    <button class="btn round-btn" (click)="showHideBox()"> Chat </button>
  </div>
 <app-main-bot [isShown]="isShown"></app-main-bot>

</div>

